<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>4 en línea</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="id-container">
        ID: <div id="id"></div>
    </div>
    <div class="contenido">
        <h1>Cuatro en Raya</h1>
    </div>
    <div class="contenido">
        <div class="container-tablero"></div>
    </div>
    <div class="contenido">
        <h2 class="turno">Turno de Jugador 1 (rojo)</h2>
    </div>
    <div class="contenido">
        <div class="cartel-ganador"></div>
    </div>
    
    <script src="/javascript/code.js"></script>
</body>
</html>